* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e2e8f0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #020617;
}

.logo { color: #22c55e; }

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #e2e8f0;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span { color: #22c55e; }

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

/* SECTIONS */
section {
  padding: 80px 10%;
  text-align: center;
}

/* PROJECT GRID */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background: #22c55e;
  color: black;
}

/* FOOTER */
footer {
  background: #020617;
  padding: 20px;
  text-align: center;
}